---
- name: "prem : provision-post : Set infrastructure state to provisionned"
  set_fact:
    libre_infra: "{{ libre_infra|combine({'state': 'post-provisionned' }, recursive=True) }}"
- name: "prem : provision-post : Update infrastructure config file {{ config_libre.directory.conf }}/{{ r_infra_config_file }}"
  template:
    src: templates/libre-infra.j2
    dest: "{{ config_libre.directory.conf }}/{{ r_infra_config_file }}"
- name: "prem : provision-post : Get previous report data"
  set_fact:
    previous_report: "{{ lookup('file', r_libre_result_file, errors='ignore') | default('') }}"
  run_once: true
- name: "prem : provision-post : Generate LIBRE report at {{ r_libre_result_file }}"
  template:
    src: templates/libre_report-provision-post.j2
    dest: "{{ r_libre_result_file }}"
#    owner: root
    group: "{{ r_libre_group }}"
    mode: 0666
  run_once: true
- name: "prem : provision-post : Log post-provision action"
  include_role:
    name: libre
    tasks_from: lib/log
  vars:
    log_name: "On-Premise infrastructure is Post-provisionned"
    log_component: infra-prem
    log_action: post-provision on-premise infrastructure
  run_once: true
