---
{% if libre_infra.ec2.classroom is defined %}
{% for nodekind in libre_infra.ec2.classroom %}
{{nodekind.group|default('default')}}:
  hosts:
    {{nodekind.name|default('localhost')}}:
  vars:
    ansible_connection: ssh
    libre_type: student
    ansible_ssh_private_key_file: "~/.ssh/id_rsa"
    ansible_user: student
    ansible_become: true
    ansible_become_method: sudo
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no'

{% endfor %}
{% endif %}

students:
  children:
{% if libre_infra.ec2.classroom is defined %}
{% for nodekind in libre_infra.ec2.classroom %}
    {{ nodekind.group|default('default') }}:
{% endfor %}
{% endif %}

labs:
  children:
{% if libre_infra.ec2.classroom is defined %}
{% for nodekind in libre_infra.ec2.classroom %}
{% if nodekind.group|default('default') not in ['local','default','workstations'] %}
    {{ nodekind.group|default('default') }}:
{% endif %}
{% endfor %}
{% endif %}

classroom:
  children:
    students:
