---
students:
{% if ec2.tagged_instances is defined %}
  hosts:
{% for instance in ec2.tagged_instances %}
{% if loop.index0 > 0 %}
    workstation{{loop.index0}}.{{ libre_session.course }}.{{ libre_infra.route53.domain }}:
{% endif %}
{% endfor %}
{% endif %}

classroom:
  children:
    students:
  vars:
    ansible_connection: ssh
    ansible_user: "{{ libre_infra.ssh.user }}"
    ansible_ssh_private_key_file: "{{ libre_infra.ssh.privateKey_file }}"
