{% set studentNum = student.workstation %}
{% if flat_inventory is defined %}
{% for nodevm in flat_inventory %}
{% if nodevm.student|string == studentNum|string %}
{{nodevm.ip_public}},{{nodevm.type|default('default')}}-env{{nodevm.student|default('0')}}.{{ libre_session.id }}.{{ libre_infra.route53.domain }},{{nodevm.type|default('default')}}.student{{nodevm.student|default('0')}}.classroom,{{nodevm.type|default('default')}}.student{{nodevm.student|default('0')}},{{nodevm.type|default('default')}}{{nodevm.student|default('0')}}.classroom,{{nodevm.type|default('default')}}{{nodevm.student|default('0')}},{{nodevm.type|default('default')}}  ecdsa-sha2-nistp256 {{ lookup('file', config_libre.directory.conf + '/student-id_rsa.pub') }}
{% endif %}
{% endfor %}
{% endif %}