{
  "type" : "{{ libre_infra.type }}",
  "auth" : {
    "access_key" : "{{ libre_infra.auth.access_key }}",
    "secret_key" : "{{ libre_infra.auth.secret_key }}"
  },
  "route53" : {
    "zone" : "{{ libre_infra.route53.zone }}",
    "domain" : "{{ libre_infra.route53.domain }}"
  },
  "ec2" : {
    "region" : "{{ libre_infra.ec2.region }}",
    "type" : "{{ libre_infra.ec2.type }}",
    "image" : "{{ libre_infra.ec2.image }}",
    "instance_nb" : "{{ libre_infra.ec2.instance_nb }}"
  },
  "ssh" : {
    "keyname" : "{{ libre_infra.ssh.keyname }}",
    "privateKey_file" : "{{ libre_infra.ssh.privateKey_file }}",
    "user" : "{{ libre_infra.ssh.user }}"
  }
}
