{% if previous_report is defined %}{{ previous_report }}{% endif %}

AWS infrastructure is \e[1m\e[32mde-provisioned\e[0m

You can continue this process by :

\e[1m1. Check infrastructure status\e[0m
   \e[2m#\e[0m \e[94mlibre-infra aws status\e[0m
\e[1m2. Observe infrastructure history\e[0m
   \e[2m#\e[0m \e[94mlibre-infra history\e[0m
\e[1m3. Save this training session\e[0m
   \e[2m#\e[0m \e[92mlibre-bootstrap save\e[0m
\e[1m4. Archivate this training session\e[0m
   \e[2m#\e[0m \e[92mlibre-bootstrap archivate\e[0m
