---
##### TODO move key generation from command to openssh_keypair (switch the 2 following tasks)
#- name: "self : config : Generate ssh keypairs in {{config_libre.directory.conf}}"
#  openssh_keypair:
#    path: "{{config_libre.directory.conf}}/{{ user2 }}-id_rsa"
#    size: "4096"
#    type: "rsa"
#    owner: "{{ r_libre_user }}"
#    group: "{{ r_libre_group }}"
#  loop:
#    - infra
#    - instructor
#    - student
#  loop_control:
#    loop_var: user2
#    label: "{{ user2 }}"
- name: "self : config : Generate ssh keypairs in {{config_libre.directory.conf}}"
  command : "ssh-keygen -q -b 4096 -t rsa -f {{config_libre.directory.conf}}/{{ user2 }}-id_rsa -C '{{ user2 }}@libre' -N ''"
  args:
    creates: "{{config_libre.directory.conf}}/{{ user2 }}-id_rsa"
  loop:
    - infra
    - instructor
    - student
  loop_control:
    loop_var: user2
    label: "{{ user2 }}"
- name: "self : config : Generate infrastructure config file {{ config_libre.directory.conf }}/{{ r_infra_config_file }}"
  template:
    src: templates/libre-infra.j2
    dest: "{{ config_libre.directory.conf }}/{{ r_infra_config_file }}"
    mode: 0664
    owner: "{{ r_libre_user }}"
    group: "{{ r_libre_group }}"

- name: "list : Get previous report data"
  set_fact:
    previous_report: "{{ lookup('file', r_libre_result_file, errors='ignore') | default('') }}"
- name: "list : Generate LIBRE report at {{ r_libre_result_file }}"
  template:
    src: libre_report-config.j2
    dest: "{{ r_libre_result_file }}"
#    owner: root
    group: "{{ r_libre_group }}"
    mode: 0666