--- 
- name: "self : provision-post-instructor : Update instructor /etc/hosts file"
  template:
    src: templates/host-instructor.j2
    dest: /etc/hosts
- name: "self : provision-post-instructor : Change hostname for instructor-{{libre_session.id}}"
  hostname:
    name: "instructor-{{libre_session.id}}"
  become: yes
  when: inventory_hostname in groups.instructor
- name: "self : provision : Get previous report data"
  set_fact:
    previous_report: "{{ lookup('file', r_libre_result_file, errors='ignore') | default('') }}"
- name: "self : provision : Generate LIBRE report at {{ r_libre_result_file }}"
  template:
    src: templates/libre_report-provision-post.j2
    dest: "{{ r_libre_result_file }}"
#    owner: root
    group: "{{ r_libre_group }}"
    mode: 0666

- name: "self : provision-post-instructor : Log instructor post-provision action"
  include_role:
    name: libre
    tasks_from: lib/log
  vars:
    log_name: "Self-Hosted infrastructure is Post-provisionned on instructor"
    log_component: infra-self
    log_action: post-provision self-hosted infrastructure on instructor
  run_once: true
