{% if r_libre_binary_details.stat.exists == true and r_libre_binary_details.stat.executable == true and config_libre is defined %}
libre        : \e[1m\e[32minstalled\e[0m      v{{ libre_version }}
{% else %}
libre        : \e[1m\e[31mnot installed\e[0m
{% endif %}
{% if r_libre_dir_details.stat.exists == true %}
training dir : \e[1m\e[32minstalled\e[0m      {{ config_libre.directory.base }}
{% else %}
training dir : \e[1m\e[31mnot installed\e[0m
{% endif %}