# Configuration of the libre application
application:
  # libre installation type
  # could be one of 'instructor' or 'student'
  type: "{{ config_libre.application.type }}"
  # libre installation version
  version: "{{ config_libre.application.version }}"
  # enable (True) or disable (False) verbose display mode
  verbose: "{{ config_libre.application.verbose }}"
  # enable (True) or disable (False) debug display mode
  debug: "{{ config_libre.application.debug }}"
  # Path to ansible playbook and roles used by this libre environement
  ansible: "{{ r_libre_dest_ansible }}"
  # Define source repository of the libre TMS toolkit
  source:
    # URL of the libre SCM repository
    repo: "{{ config_libre.application.source.repo }}"
    # Branch name in the libre SCM repository
    branch: "{{ config_libre.application.source.branch }}"
    # Source code base directory in the libre SCM repository
    base: "{{ config_libre.application.source.base }}"
    # Local temporary directory used during upgrade or reinstall
    tmp: "{{ config_libre.application.source.tmp }}"
# Libre directory configuration
directory:
  # Location of the training directory (course and session materials)
  base: "{{ config_libre.directory.base }}"
  # Location of the configuration directory (where course configuration is installed)
  conf: "{{ config_libre.directory.conf }}"
  # Location of the course material directory (where course is installed)
  course: "{{ config_libre.directory.course }}"
  # Location of the collector directory (where course logs are recorded)
  collect: "{{ config_libre.directory.collect }}"
