---
- name: "aws : deprovision : Get Route53 DNS  facts for domain {{ libre_infra.route53.zone }}"
  route53:
    aws_access_key: "{{ libre_infra.auth.access_key }}"
    aws_secret_key: "{{ libre_infra.auth.secret_key }}"
    state: get
    zone: "{{ libre_infra.route53.zone }}"
    record: "workstation{{item}}.{{ libre_session.course }}.{{ libre_infra.route53.domain }}"
    type: A
  register: route53_facts
  with_sequence: start=0 end={{ libre_session.students|length }}
- name: "aws : deprovision : Get VPC facts"
  ec2_vpc_net_facts:
    aws_access_key: "{{ libre_infra.auth.access_key }}"
    aws_secret_key: "{{ libre_infra.auth.secret_key }}"
    region: "{{ libre_infra.ec2.region }}"
    filters:
      "tag:Name": "{{ libre_session.id }}-env{{item}}-vpc"
      "tag:Session": "{{ libre_session.id }}"
  register: r_libre_vpcs
  with_sequence: start=0 end={{ libre_session.students|length }}
- name: "aws : deprovision : Get VPC route tables facts"
  ec2_vpc_route_table_facts:
    aws_access_key: "{{ libre_infra.auth.access_key }}"
    aws_secret_key: "{{ libre_infra.auth.secret_key }}"
    region: "{{ libre_infra.ec2.region }}"
    filters:
      "vpc-id": "{{ r_libre_vpcs.vpcs[0].id }}"
  register: libre_routes
  with_sequence: start=0 end={{ libre_session.students|length }}
  when:
    - r_libre_vpcs.vpcs is defined
    - r_libre_vpcs.vpcs | length > 0
- name: "aws : deprovision : Get VPC Subnets facts"
  ec2_vpc_subnet_facts:
    aws_access_key: "{{ libre_infra.auth.access_key }}"
    aws_secret_key: "{{ libre_infra.auth.secret_key }}"
    region: "{{ libre_infra.ec2.region }}"
    filters:
      "vpc-id": "{{ r_libre_vpcs.vpcs[0].id }}"
  with_sequence: start=0 end={{ libre_session.students|length }}
  when:
    - r_libre_vpcs.vpcs is defined
    - r_libre_vpcs.vpcs | length > 0
  register: libre_subnets
- name: "aws : deprovision : Find EC2 instances ID"
  ec2_instance_facts:
    aws_access_key: "{{ libre_infra.auth.access_key }}"
    aws_secret_key: "{{ libre_infra.auth.secret_key }}"
    region: "{{ libre_infra.ec2.region }}"
    filters:
      "tag:Session": "{{ libre_session.id }}"
      "instance-state-name": running
  register: ec2
- name: "aws : deprovision : Terminate instances that were previously launched"
  ec2:
    aws_access_key: "{{ libre_infra.auth.access_key }}"
    aws_secret_key: "{{ libre_infra.auth.secret_key }}"
    region: "{{ libre_infra.ec2.region }}"
    state: absent
    count: 0
    wait: yes
    instance_ids: '{{ item.instance_id }}'
  with_items: "{{  ec2.instances }}"
- name: "aws : deprovision : Remove public DNS for workstations"
  route53:
    state: absent
    aws_access_key: "{{ libre_infra.auth.access_key }}"
    aws_secret_key: "{{ libre_infra.auth.secret_key }}"
    zone: "{{ libre_infra.route53.zone }}"
    ttl: "{{ item.set.ttl | default(30)  }}"
    record: "{{ item.set.record | default('workstation'+item.item+'.'+libre_session.course+'.'+libre_infra.route53.domain) }}"
    value: "{{ item.set.value | default('')  }}"
    type: "{{ item.set.type | default('A')  }}"
  with_items: "{{ route53_facts.results }}"
- name: "aws : deprovision : Remove public DNS for instructor"
  route53:
    state: absent
    aws_access_key: "{{ libre_infra.auth.access_key }}"
    aws_secret_key: "{{ libre_infra.auth.secret_key }}"
    zone: "{{ libre_infra.route53.zone }}"
    ttl: 30
    record: "instructor.{{ libre_session.course }}.{{ libre_infra.route53.domain }}."
    value: "workstation0.{{ libre_session.course }}.{{ libre_infra.route53.domain }}."
    type: CNAME
- name: "aws : deprovision : Delete {{ libre_session.id }}-env{{item}}-vpc Internet Gateway"
  ec2_vpc_igw:
    state: absent
    aws_access_key: "{{ libre_infra.auth.access_key }}"
    aws_secret_key: "{{ libre_infra.auth.secret_key }}"
    region: "{{ libre_infra.ec2.region }}"
    vpc_id: "{{ r_libre_vpcs.vpcs[0].id }}"
  when:
    - r_libre_vpcs.vpcs is defined
    - r_libre_vpcs.vpcs | length > 0
- name: "aws : deprovision : Delete {{ libre_session.id }}-env{{item}}-vpc routes tables"
  ec2_vpc_route_table:
    state: absent
    aws_access_key: "{{ libre_infra.auth.access_key }}"
    aws_secret_key: "{{ libre_infra.auth.secret_key }}"
    region: "{{ libre_infra.ec2.region }}"
    vpc_id: "{{ r_libre_vpcs.vpcs[0].id }}"
    route_table_id: "{{ item.id }}"
    lookup: id
  with_items: "{{ libre_routes.route_tables }}"
  when:
    - libre_routes.route_tables is defined
    - r_libre_vpcs.vpcs is defined
    - r_libre_vpcs.vpcs | length > 0
- name: "aws : deprovision : Delete {{ libre_session.id }}-env{{item}}-vpc subnets"
  ec2_vpc_subnet:
    state: absent
    aws_access_key: "{{ libre_infra.auth.access_key }}"
    aws_secret_key: "{{ libre_infra.auth.secret_key }}"
    region: "{{ libre_infra.ec2.region }}"
    vpc_id: "{{ r_libre_vpcs.vpcs[0].id }}"
    cidr: "{{ item.cidr_block }}"
    wait: yes
  with_items: "{{ libre_subnets.subnets }}"
  when:
    - libre_subnets.subnets is defined
    - r_libre_vpcs.vpcs is defined
    - r_libre_vpcs.vpcs | length > 0
- name: "aws : deprovision : Delete {{ libre_session.id }}-env{{item}}-vpc VPC in {{ libre_infra.ec2.region }}"
  ec2_vpc_net:
    state: absent
    aws_access_key: "{{ libre_infra.auth.access_key }}"
    aws_secret_key: "{{ libre_infra.auth.secret_key }}"
    region: "{{ libre_infra.ec2.region }}"
    name: "{{ libre_session.id }}-env{{item}}-vpc"
    cidr_block: "{{ item.cidr_block }}"
    purge_cidrs: yes
  with_items: "{{ r_libre_vpcs.vpcs }}"
  when:
    - r_libre_vpcs.vpcs is defined
    - r_libre_vpcs.vpcs | length > 0
- name: "aws : deprovision : Remove infrastructure inventory {{config_libre.directory.conf}}/inventory/students.yml"
  file:
    state: "absent"
    path: "{{config_libre.directory.conf}}/inventory/students.yml"
- name: "aws : deprovision : Set infrastructure state to deprovisionned"
  set_fact:
    libre_infra: "{{ libre_infra|combine({'state': 'deprovisionned' }, recursive=True) }}"
- name: "aws : deprovision : Update infrastructure config file {{ config_libre.directory.conf }}/{{ r_infra_config_file }}"
  template:
    src: templates/libre-infra.j2
    dest: "{{ config_libre.directory.conf }}/{{ r_infra_config_file }}"
- name: "aws : deprovision : Get previous report data"
  set_fact:
    previous_report: "{{ lookup('file', r_libre_tmp + '/' + r_libre_tmpfile, errors='ignore') | default('') }}"
- name: "aws : deprovision : Generate LIBRE report at {{ r_libre_tmp }}/{{ r_libre_tmpfile }}"
  template:
    src: templates/libre_report-deprovision.j2
    dest: "{{ r_libre_tmp }}/{{ r_libre_tmpfile }}"
#    owner: root
    group: "{{ r_libre_group }}"
    mode: 0664
- name: "aws : deprovision : Log deprovision action"
  include_role:
    name: libre
    tasks_from: lib/log
  vars:
    log_name: "AWS infrastructure is Deprovisionned"
    log_component: infra-aws
    log_action: deprovision
