---
- name: "aws : status : Generate repository report at {{ r_libre_tmp }}/{{ r_libre_tmpfile }}"
  template:
    src: templates/libre_report-status.j2
    dest: "{{ r_libre_tmp }}/{{ r_libre_tmpfile }}"
#    owner: root
    group: "{{ r_libre_group }}"
    mode: 0664
