{% if previous_report is defined %}{{ previous_report }}{% endif %}

Lab \e[1m{{ current_lab.id }}\e[0m. {{ current_lab.name }} is \e[1m\e[32mstarted\e[0m
----------------------
{{ current_lab.desc }}
