{% if previous_report is defined %}{{ previous_report }}{% endif %}


{% if current_lab is defined and current_lab.id is defined %}
Lab          : \e[1m\e[32mstarted\e[0m        \e[1m{{ current_lab.id }}\e[0m {{ current_lab.name }}
Duration     : {{ current_lab.time }}min
--------------
{{ current_lab.desc }}
{% else %}
Lab          : \e[1m\e[31mnot started\e[0m
{% endif %}
