{% if previous_report is defined %}{{ previous_report }}{% endif %}


{% if libre_lab is defined and libre_lab.id is defined %}
Lab          : \e[1m\e[32mstarted\e[0m        \e[1m{{ libre_lab.id }}\e[0m {{ libre_lab.name }}
Duration     : {{ libre_lab.time }}min
--------------
{{ libre_lab.desc }}
{% else %}
Lab          : \e[1m\e[31mnot started\e[0m
{% endif %}
