{% if previous_report is defined %}{{ previous_report }}{% endif %}

{% if libre_session.id is defined %}
     Trainer : \e[1m{{ libre_session.instructor }}\e[0m
{% endif %}

{% if libre_student is defined and libre_student.id is defined %}
     student : \e[34m{{ libre_student.id }}\e[0m \e[1m{{ libre_student.name }}\e[0m
   workspace : environment \e[1m{{ libre_student.workstation }}\e[0m
{% endif %}

{% if libre_course.id is defined %}
      Course : \e[1m{{ libre_course.id }}\e[0m v{{ libre_course.version }}
               \e[2m{{ libre_course.name }}\e[0m
{% endif %}

{% if current_lab is defined and current_lab.id is defined %}
      lab ID : \e[1m\e[32mstarted\e[0m        \e[1m{{ current_lab.idn }}\e[0m
    lab name : \e[1m{{ current_lab.name }}\e[0m
    duration : {{ current_lab.time }}min
--------------
{{ current_lab.desc }}
{% else %}
Lab          : \e[1m\e[31mnot started\e[0m
{% endif %}
