{% if previous_report is defined %}{{ previous_report }}{% endif %}


     Trainer :                \e[1m{{ libre_session.instructor }}\e[0m
     comment :                \e[31m{{ libre_session.commentToTrainer }}\e[0m
{% if libre_session.students is defined %}
participants :                \e[1m{{ libre_session.students|length }}\e[0m environments
{% for student in libre_session.students %}
       \e[34m{{student.id|default('?????')}}\e[0m : workstation\e[1m{{student.workstation|default(' ')}}\e[0m - {{student.name|default('XXXXX XXXXXXXXXX')}}
{% endfor %}
{% endif %}