{% if previous_report is defined %}{{ previous_report }}{% endif %}


{% if libre_chapter is defined and libre_chapter.id is defined %}
Chapter      : \e[1m\e[32mstarted\e[0m        \e[1m{{ libre_chapter.id }} -\e[0m {{ libre_chapter.name }}
{% else %}
Chapter      : \e[1m\e[31mnot started\e[0m
{% endif %}
{% if libre_section is defined and libre_section.id is defined %}
Section      : \e[1m\e[32mstarted\e[0m        \e[1m{{ libre_section.id }} -\e[0m {{ libre_section.name }}
{% else %}
Section      : \e[1m\e[31mnot started\e[0m
{% endif %}
