{% if previous_report is defined %}{{ previous_report }}{% endif %}

{% if libre_course is defined %}
Course       : \e[1m{{ libre_course.id }}\e[0m (v{{ libre_course.version }})
               {{ libre_course.name }}

{% for chapter in libre_course.content %}
Chapter \e[1m{{ chapter.id }}\e[0m    : {{ chapter.name }}
{% endfor %}
{% else %}
Course       : \e[1m\e[31mnot loaded\e[0m
{% endif %}
