## LIBRE Student role tasks
---

- name: "Action {{ r_do }} in student role is supported"
  assert:
    msg: "Action {{ r_do }} in student role is not supported"
    that: >
      r_do in [
               'load',
               'status',
               'install',
               'uninstall'
              ]

- name: "{{ r_do }} student environment"
  include_tasks: "{{ r_do }}.yml"
