---
# Uninstall pre-tasks

# Uninstall tasks

- name: "uninstall : Start LIBRE uninstall"
  include_role:
    name: libre
    tasks_from: uninstall

- name: "uninstall : Get previous report data"
  set_fact:
    previous_report: "{{ lookup('file', r_libre_tmp + '/' + libre_tmpfile) }}"
- name: "uninstall : Generate LIBRE report at {{ r_libre_tmp }}/{{ libre_tmpfile }}"
  template:
    src: libre_report-uninstall.j2
    dest: "{{ r_libre_tmp }}/{{ libre_tmpfile }}"
    mode: 0664
- name: "uninstall : Log uninstall action"
  include_role:
    name: libre
    tasks_from: lib/log
  vars:
    log_name: "Student workstation is uninstalled"
    log_component: student
    log_action: uninstall
