---
# Start pre-tasks
- name: "start : Start LIBRE-instructor web application for session {{ libre_session.id }}"
  docker_container:
    name: "libre-instructor-{{ libre_session.id }}"
    image: startx/libre-instructor:stable
    state: started
    volumes:
     - "/usr/share/libre/conf:/usr/src/app/config:ro"
     - "/usr/share/libre/course:/usr/src/app/course:ro"
     - "/usr/share/libre/collect:/usr/src/app/data:Z"
    ports:
     - "80:8080"
  become: yes

- name: "start : Start course {{ libre_course.id }}"
  include_tasks: "{{ r_session_dir_course }}/{{ r_session_dir_course_playbooks}}/start.yml"
  when: r_session_dir_course_playbooks_details.stat.exists

# Start tasks
- name: "start : Get previous report data"
  set_fact:
    previous_report: "{{ lookup('file', r_libre_tmp + '/' + r_libre_tmpfile) }}"
  delegate_to: localhost
- name: "start : Generate LIBRE report at {{ r_libre_tmp }}/{{ r_libre_tmpfile }}"
  template:
    src: libre_report-start.j2
    dest: "{{ r_libre_tmp }}/{{ r_libre_tmpfile }}"
    mode: 0664
  delegate_to: localhost
- name: "start : Log start action"
  include_role:
    name: libre
    tasks_from: lib/log
  vars:
    log_name: "Session {{ libre_session.id }} with course {{ libre_session.course }} is started"
    log_component: session
    log_action: start
