---
- name: "status : Get {{ r_libre_dest_bin }}/libre-{{ config_libre.application.type | default('instructor') | string }} file details"
  stat:
    path: "{{ r_libre_dest_bin }}/libre-{{ config_libre.application.type }}"
  register: r_libre_binary_details
- name: "status : Generate LIBRE report at {{ r_libre_tmp }}/{{ r_libre_tmpfile }}"
  template:
    src: libre_report-status.j2
    dest: "{{ r_libre_tmp }}/{{ r_libre_tmpfile }}"
#    owner: root
    group: "{{ r_libre_group }}"
    mode: 0664
