{% if r_libre_binary_details.stat.exists == true and r_libre_binary_details.stat.executable == true and config_libre is defined %}
LIBRE        : v{{ config_libre.application.version }}
{% else %}
LIBRE        : not installed
{% endif %}
{% if r_libre_dir_details.stat.exists == true %}
training dir : {{ r_libre_dir }}
{% else %}
training dir : not installed
{% endif %}
{% if r_libre_user_conf_details.stat.exists == true %}
config files : {{ r_libre_userconfig_dir }}/{{ r_libre_config_file_libre }} {% if config_libre is defined %}(loaded){% endif %}

{% if r_libre_user_session_details.stat.exists == true %}
               {{ r_libre_userconfig_dir }}/{{ r_libre_config_file_session }} {% if config_session is defined %}(loaded){% endif %}

{% else %}
               {{ r_libre_config_file_session }} (not installed)

{% endif %}
{% if r_libre_user_repository_details.stat.exists == true %}
               {{ r_libre_userconfig_dir }}/{{ r_libre_config_file_repository }} {% if config_repository is defined %}(loaded){% endif %}

{% else %}
               {{ r_libre_config_file_repository }} (not installed)

{% endif %}
{% else %}
config files : not installed
{% endif %}
