{
  "application" : {
    "type" : "{{ r_libre_config.application.type }}",
    "version" : "{{ r_libre_config.application.version }}",
    "verbose" : "{{ r_libre_config.application.verbose }}",
    "debug" : "{{ r_libre_config.application.debug }}",
    "ansible" : "{{ r_libre_dest_ansible }}",
    "source" : {
      "repo" : "{{ r_libre_config.application.source.repo }}",
      "branch" : "{{ r_libre_config.application.source.branch }}",
      "base" : "{{ r_libre_config.application.source.base }}",
      "tmp" : "{{ r_libre_config.application.source.tmp }}"
    }
  },
  "directory" : {
    "base" : "{{ r_libre_config.directory.base }}",
    "course" : "{{ r_libre_config.directory.course }}",
    "collect" : "{{ r_libre_config.directory.collect }}"
  },
  "session" : {
    "type" : "{{ r_libre_config.session.type }}",
    "gapi" : "{{ r_libre_config.session.gapi }}"
  }
}
