{% if r_libre_binary_details.stat.exists == true and r_libre_binary_details.stat.executable == true %}
LIBRE        : executable
{% else %}
LIBRE        : not installed
{% endif %}
{% if r_libre_dir_details.stat.exists == true %}
training dir : {{ r_libre_dir }}
{% else %}
training dir : not installed
{% endif %}
{% if r_libre_conf_details.results[0].stat.exists == true %}
config file  : {{ r_libre_config_file_libre }} {% if libre_config is defined %} (loaded) {% endif %}

{% else %}
config file  : not installed
{% endif %}
{% if r_libre_conf_details.results[1].stat.exists == true %}
hardware file: {{ r_libre_config_file_hw }} {% if libre_hardware is defined %} (loaded) {% endif %}

{% else %}
hardware file: not installed
{% endif %}

