{% if r_libre_binary_details.stat.exists == true and r_libre_binary_details.stat.executable == true and config_libre is defined %}
LIBRE        : v{{ config_libre.application.version }}
{% else %}
LIBRE        : not installed
{% endif %}
{% if r_libre_dir_details.stat.exists == true %}
training dir : {{ r_libre_dir }}
{% else %}
training dir : not installed
{% endif %}
{% if r_libre_libre_userconf_details.stat.exists == true %}
config files : {{ r_libre_userconfig_dir }}/{{ r_libre_myconfile_libre }} {% if config_libre is defined %}(loaded){% endif %}

{% if r_libre_session_userconf_details.stat.exists == true %}
               {{ r_libre_userconfig_dir }}/{{ r_libre_myconfile_session }} {% if config_session is defined %}(loaded){% endif %}

{% else %}
               {{ r_libre_userconfig_dir }}/{{ r_libre_myconfile_session }} (not installed)

{% endif %}
{% if r_libre_repository_userconf_details.stat.exists == true %}
               {{ r_libre_userconfig_dir }}/{{ r_libre_myconfile_repository }} {% if config_repository is defined %}(loaded){% endif %}

{% else %}
               {{ r_libre_userconfig_dir }}/{{ r_libre_myconfile_repository }} (not installed)

{% endif %}
{% if r_libre_infra_userconf_details.stat.exists == true %}
               {{ r_libre_userconfig_dir }}/{{ r_libre_myconfile_infra }} {% if config_infra is defined %}(loaded){% endif %}

{% else %}
               {{ r_libre_userconfig_dir }}/{{ r_libre_myconfile_infra }} (not installed)

{% endif %}
{% else %}
config files : not installed
{% endif %}
