# URL of the courses content repository
url: "{{ config_repository.url }}"
# Branch name in the courses content repository
branch: "{{ config_repository.branch }}"
# Base directory  in the courses content repository
base: "{{ config_repository.base }}"
# Local cache directory
local: "{{ config_repository.local }}"