127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{{ libre_infra.network.associated_ip }}       instructor.{{libre_infra.network.dns}} instructor
{{ libre_infra.network.associated_ip }}       student0.{{libre_infra.network.dns}} student0

{% if libre_session.students is defined %}
{% for student in libre_session.students %}
{% set studentNum = loop.index %}
# Student : {{student.name}}
{{ libre_infra.network.associated_ip }}       student{{studentNum}}.{{libre_infra.network.dns}} student{{studentNum}} student.{{student.id}}.{{libre_infra.network.dns}}
{% if libre_infra.kvm is defined and libre_infra.kvm.classroom is defined %}
{% for station in libre_infra.kvm.classroom %}
{{ libre_infra.network.associated_ip }}       {{station.name}}{{studentNum}}.{{libre_infra.network.dns}} {{station.name}}{{studentNum}} {{station.name}}.{{student.id}}.{{libre_infra.network.dns}}
{% endfor %}
{% endif %}

{% endfor %}
{% endif %}
