---
instructor:
  hosts:
    localhost:
  vars:
    ansible_connection: local
    libre_type: instructor

bootstrap:
  hosts:
    localhost:
  vars:
    ansible_connection: local
    libre_type: bootstrap


