{% if previous_report is defined %}{{ previous_report }}{% endif %}

We are happy to report that Self-Hosted infrastructure {{ libre_session.id }}
was successfully \e[1m\e[32mpost-provisioned\e[0m on Self-Hosted infrastructure

1. Start session by running :"
   $ libre-session start

Have a happy training ;)