{% if previous_report is defined %}{{ previous_report }}{% endif %}

{% if r_libre_repository_userconf_details.stat.exists == true and config_repository is defined %}
course repo  : {{ config_repository.local }}
{% else %}
course repo  : none
{% endif %}

