---
local:
  hosts:
    localhost:
  vars:
    ansible_connection: local

instructor:
  hosts:
    instructor.{{r_infra_self_dns_zone}}:
  vars:
    # Default system user for instructor
    infra_user_instructor: "{{ r_infra_self_user_instructor }}"

students:
  hosts:
    student.{{r_infra_self_dns_zone}}:

classroom:
  children:
    instructor:
    students:
  vars:
    # Default system user for students
    infra_user_student: "{{ r_infra_self_user_student }}"
    # Default system user group
    infra_usergroup: "{{ r_infra_self_usergroup }}"
