---
local:
  hosts:
    localhost:
  vars:
    ansible_connection: local
    # Set Self-Hosted infrastructure sub-domain to use for deploying DNS classroom names
    infra_self_dns_zone: "{{r_infra_self_dns_zone}}"
    # Default system user for instructor
    infra_user_instructor: "{{r_infra_self_user_instructor}}"
    # Default system user for students
    infra_user_student: "{{r_infra_self_user_student}}"
    # Default system user group
    infra_usergroup: "{{r_infra_self_usergroup}}"
    # Configuration directory used for delivering training
    training_dir_conf: "{{r_infra_self_dir_conf}}"
