{% if previous_report is defined %}{{ previous_report }}{% endif %}

Infrastructure is \e[1m\e[32mupdated\e[0m

You can continue this process by :

\e[1m1. Check infrastructure status\e[0m
   \e[2m#\e[0m \e[94mlibre-infra status\e[0m
\e[1m2. Observe infrastructure history\e[0m
   \e[2m#\e[0m \e[94mlibre-infra history\e[0m
\e[1m3. List available training session\e[0m
   \e[2m#\e[0m \e[92mlibre-bootstrap list\e[0m
