{% if previous_report is defined %}{{ previous_report }}{% endif %}

{% if r_training_repository_local_details.stat.exists == true %}
course repo  : {{ r_training_repository_local }}
{% else %}
course repo  : none
{% endif %}

