{% if previous_report is defined %}{{ previous_report }}{% endif %}

Bootstrap workstation is \e[1m\e[32minstalled\e[0m

You can continue this process by :

\e[1m1. Check bootstrap status\e[0m
   \e[2m#\e[0m \e[94mlibre-bootstrap status\e[0m
\e[1m2. Start a new training session\e[0m
   \e[2m#\e[0m \e[92mlibre-bootstrap use\e[0m
\e[1m3. List saved and archived training session\e[0m
   \e[2m#\e[0m \e[94mlibre-bootstrap list\e[0m
\e[1m4. Consult training session history\e[0m
   \e[2m#\e[0m \e[94mlibre-bootstrap history\e[0m
