environment  : \e[1m\e[32minstalled\e[0m      \e[1m\e[35mbootstrap\e[0m
{% if previous_report is defined %}{{ previous_report }}{% endif %}

classrooms   :                  \e[1m10\e[0m stored classrooms
