{% if previous_report is defined %}{{ previous_report }}{% endif %}


 environment : \e[1m\e[32minstalled\e[0m      \e[1m\e[35mbootstrap\e[0m
             : \e[1m\e[34mcurrent\e[0m        \e[1m\e[32m{{ libre_session.id }}\e[0m is the current session
             : \e[1m\e[34msaved\e[0m          \e[1m{{ r_bootstrap_saved_sessions | count }}\e[0m stored session(s)
             : \e[1m\e[33marchive\e[0m        \e[1m{{ r_bootstrap_archive_sessions | count }}\e[0m stored session(s)
