[defaults]
inventory=inventory
roles_path=/usr/local/lib/libre-ansible/roles/
remote_user = student
host_key_checking = False
#private_key_file=~/.ssh/id_rsa
# for running on Ubuntu
#control_path=%(directory)s/%%h-%%r
