---
- name: "load : Load user infra configuration from {{ r_libre_userconfig_dir }}/{{ r_libre_myconfile_infra }}"
  set_fact:
    config_infra: "{{ lookup('file', r_libre_userconfig_dir + '/' + r_libre_myconfile_infra, errors='ignore') | from_yaml | default(r_libre_infra_userconf_default, true) }}"
- name: "load : Set libre_infra fact from {{ config_libre.directory.conf }}/{{ r_infra_config_file }}" 
  set_fact:
    libre_infra: "{{ lookup('file', config_libre.directory.conf + '/' + r_infra_config_file, errors='ignore') | default(false) }}"
- name: "load : Set libre_infra fact from default infra"
  set_fact:
    libre_infra: "{{ config_infra[config_infra.default]|combine({'state': 'loaded' }, recursive=True) }}"
  when: libre_infra is undefined or libre_infra is sameas false
- name: "load : Load {{ libre_infra.type }} infrastructure"
  include_tasks: "{{ libre_infra.type }}/load.yml"
