---
# Install pre-tasks
- name: "install : Start repository pre-installation checks"
  include_tasks: install-precheck.yml

# Install tasks
- name: "install : Start LIBRE install sequence"
  block:
    - name: "install : Start LIBRE install post-check"
      include_role:
        name: libre
        tasks_from: install-postcheck
  rescue:
    - name: "install : Libre post-check install is not valid"
      debug:
        msg: Failing back to installing LIBRE first 
    - name: "install : Start LIBRE install"
      include_role:
        name: libre
        tasks_from: install
- name: "install : Get user repository configuration file {{ r_libre_userconfig_dir }}/{{ r_libre_myconfile_repository }} details"
  stat:
    path: "{{ r_libre_userconfig_dir }}/{{ r_libre_myconfile_repository }}"
  register: r_libre_repository_userconf_details
- name: "install : Generate user repository configuration from {{ r_libre_userconfig_dir }}/{{ r_libre_myconfile_repository }}"
  template:
    src: repository.j2
    dest: "{{ r_libre_userconfig_dir }}/{{ r_libre_myconfile_repository }}"
    mode: 0664
  when: not r_libre_repository_userconf_details.stat.exists or
            r_libre_force_upgrade
- name: "install : Reload user repository configuration {{ r_libre_userconfig_dir }}/{{ r_libre_myconfile_repository }} file details"
  stat:
    path: "{{ r_libre_userconfig_dir }}/{{ r_libre_myconfile_repository }}"
  register: r_libre_repository_userconf_details
- name: "install : Reload user repository configuration from {{ r_libre_userconfig_dir }}/{{ r_libre_myconfile_repository }}"
  set_fact:
    config_repository: "{{ lookup('file', r_libre_userconfig_dir + '/' + r_libre_myconfile_repository) | from_yaml | default('') }}"

- name: "install : Clone course materials from {{ config_repository.url }} to {{ config_repository.local }}"
  git:
    clone: yes
    force: yes
    repo: "{{ config_repository.url }}"
    dest: "{{ config_repository.local }}"
    version: "{{ config_repository.branch }}"

- name: "install : Update {{ config_repository.local }} directory details"
  stat:
    path: "{{ config_repository.local }}"
  register: r_repository_details

- name: "install : Get previous report data"
  set_fact:
    previous_report: "{{ lookup('file', r_libre_tmp + '/' + r_libre_tmpfile, errors='ignore') | default('') }}"
- name: "install : Generate LIBRE report at {{ r_libre_tmp }}/{{ r_libre_tmpfile }}"
  template:
    src: libre_report-install.j2
    dest: "{{ r_libre_tmp }}/{{ r_libre_tmpfile }}"
    owner: root
    group: "{{ r_libre_group }}"
    mode: 0664

# Install post-tasks
- name: "install : Start repository post-installation checks"
  include_tasks: install-postcheck.yml
