---
## LIBRE Training-Repo role tasks

- name: "Action {{ r_do }} in repository role is supported"
  assert:
    that: >
      r_do in [
               'load',
               'status',
               'install',
               'update',
               'uninstall',
              ]
    msg: "Action {{ r_do }} in repository role is not supported"

- name: "{{ r_do }} repository environment"
  include_tasks: "{{ r_do }}.yml"
