---
# Uninstall tasks
- name: "uninstall : Remove local course repository {{ config_repository.local }}"
  file:
    state: absent
    path: "{{ config_repository.local }}"
  when: r_repository_details.stat.exists
- name: "uninstall : Start LIBRE uninstall"
  include_role:
    name: libre
    tasks_from: uninstall
- name: "uninstall : Reload"
  include_tasks: load.yml

- name: "uninstall : Get previous report data"
  set_fact:
    previous_report: "{{ lookup('file', r_libre_tmp + '/' + r_libre_tmpfile, errors='ignore') | default('') }}"
- name: "uninstall : Generate LIBRE report at {{ r_libre_tmp }}/{{ r_libre_tmpfile }}"
  template:
    src: libre_report-uninstall.j2
    dest: "{{ r_libre_tmp }}/{{ r_libre_tmpfile }}"
    owner: root
    group: "{{ r_libre_group }}"
    mode: 0664
