---
# Update tasks
- name: "update : Update course materials from {{ config_repository.url }}"
  git:
    update: yes
    repo: "{{ config_repository.url }}"
    dest: "{{ config_repository.local }}"
    version: "{{ config_repository.branch }}"
- name: "update : Get previous report data"
  set_fact:
    previous_report: "{{ lookup('file', r_libre_tmp + '/' + r_libre_tmpfile) | default('') }}"
  delegate_to: localhost
  become: no
- name: "update : Generate LIBRE report at {{ r_libre_tmp }}/{{ r_libre_tmpfile }}"
  template:
    src: libre_report-update.j2
    dest: "{{ r_libre_tmp }}/{{ r_libre_tmpfile }}"
    mode: 0664
  delegate_to: localhost
  become: no
