---
students:
{% if libre_infra.instances is defined %}
  hosts:
{% for instance in libre_infra.instances %}
{% if loop.index0 > 0 %}
    workstation{{loop.index0}}.{{ libre_infra.network.dns }}:
{% endif %}
{% endfor %}
{% endif %}

classroom:
  children:
    students:
  vars:
    ansible_connection: ssh
    ansible_user: "{{ libre_infra.ssh.user }}"
    ansible_ssh_private_key_file: "{{ libre_infra.ssh.privateKey_file }}"
