{% if previous_report is defined %}{{ previous_report }}{% endif %}


{% if r_infra_conf_details.stat.exists == true %}
  infra conf : {% if libre_infra is defined %}\e[1m\e[32mloaded         \e[0m{% else %}\e[1m\e[31mnot loaded     \e[0m{% endif %}{{ r_infra_config_file }}
{% else %}
  infra conf : \e[1m\e[31mnot installed\e[0m
{% endif %}
{% if r_libre_dir_conf_details.stat.exists == true %}
   inventory : \e[1m\e[32minstalled\e[0m      {{ config_libre.directory.conf }}/inventory
{% else %}
   inventory : \e[1m\e[31mnot installed\e[0m
{% endif %}
{% if libre_infra.type is defined %}
{% if libre_infra.state == 'provisionned' %}
        type : \e[1m\e[33mprovisionned\e[0m   {{ libre_infra.type }}
   classroom : \e[1m\e[33mprovisionned\e[0m   \e[1m{{ libre_infra.kvm.classroom|length }}\e[0m VM x \e[1m{{ libre_session.students|length }}\e[0m students
    students :                   \e[1m{{ libre_session.students|length }}\e[0m students ("{{ libre_session.students | map(attribute='id') | list | join(', ')  }}")
{% elif libre_infra.state == 'post-provisionned' %}
        type : \e[1m\e[32mpost-provision\e[0m {{ libre_infra.type }}
   classroom : \e[1m\e[33mpost-provision\e[0m \e[1m{{ libre_infra.kvm.classroom|length }}\e[0m VM x \e[1m{{ libre_session.students|length }}\e[0m students
    students :                 \e[1m{{ libre_session.students|length }}\e[0m students ("{{ libre_session.students | map(attribute='id') | list | join(', ')  }}")
    stations :                 \e[1m{{ libre_infra.kvm.classroom|length }}\e[0m VM ("{{ libre_infra.kvm.classroom | map(attribute='name') | list | join(', ')  }}")
{% else %}
        type : \e[1m\e[34mconfigured\e[0m     {{ libre_infra.type }}
{% endif %}
{% else %}
        type : \e[1m\e[31mnot configured\e[0m
{% endif %}
