{
  "type" : "{{ libre_infra.type }}",
  "network" : {
    "dns" : "{{ libre_infra.network.dns }}"
  },
  "ssh" : {
    "privateKey_file" : "{{ libre_infra.ssh.privateKey_file }}",
    "user" : "{{ libre_infra.ssh.user }}"
  }
}
