{
  "type" : "prem",
  "network" : {
    "dns" : "{{ r_infra_prem_dns_zone }}"
  },
  "ssh" : {
    "privateKey_file" : "{{ r_infra_prem_ssh_private_key_file }}",
    "user" : "{{ r_infra_prem_ssh_user }}"
  }
}