---
- name: "Configure classroom aws infrastructure on instructor"
  hosts: 'instructor'
  gather_facts: true

  roles:
    - { role: infra, do: load, infra_type: aws }
    - { role: infra, do: config, infra_type: aws, become: yes }
