---
- name: "Post-Provision classroom infrastructure on instructor"
  hosts: 'instructor'
  gather_facts: true
  roles:
    - { role: infra, do: load, infra_type: aws }
    - { role: infra, do: provision-post-instructor, infra_type: aws }

- name: "Post-Provision classroom infrastructure on students"
  hosts: 'students'
  gather_facts: true
  roles:
    - { role: infra, do: load, infra_type: aws }
    - { role: infra, do: provision-post-students, infra_type: aws }

- name: "Post-Provision classroom infrastructure on workstations"
  hosts: 'workstations'
  gather_facts: true
  vars:
    libre_type: "student"
    libre_verbose: false
    libre_debug: false
  roles:
    - { role: student, do: load }
    - { role: student, do: install }
    
- name: "Post-Provision classroom infrastructure on instructor (end)"
  hosts: 'instructor'
  gather_facts: true
  roles:
    - { role: infra, do: load, infra_type: aws }
    - { role: infra, do: provision-post-post, infra_type: aws }