---
- name: "Check classroom Prem infrastructure on instructor"
  hosts: 'instructor'
  gather_facts: true

  roles:
    - { role: infra, do: load, infra_type: prem }
    - { role: infra, do: status, infra_type: prem }
