---
- name: "Check classroom Self infrastructure on instructor"
  hosts: 'instructor'
  gather_facts: true

  roles:
    - { role: infra, do: load, infra_type: self }
    - { role: infra, do: status, infra_type: self }
